<div class="container container--tight container--noPadBottom">
  <div class="row">
    <div class="l--medium--12 columns">
      <h2>{{ subcategoriesList.sectionHeading }}</h2>
      <p>{{ subcategoriesList.sectionSubheading }}</p>
    </div>
    {% for category in subcategoriesList.subcategoriesList  %}
      <a href="{{ category.url }}">
        <div class="l--extraSmall--6 l--small--3 l--medium--2 columns textCenter subcategoriesList" data-href="{{ category.url }}">
          <img class="subcategoriesList__thumbnail" src="{{ category.supportCategoryImage.one.url }}" />
          <p>{{ category.title }}</p>
        </div>
        {% if loop.index % 4 == 0 %}
          <div class="subcategoriesList__clearfix"></div>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>