      <div class="view--desktop">
        <div class="section section--page section--ultimate js--show-secondary-nav" data-track="Ultimate" data-percent="1" data-slug="ultimate">
          <div class="text-container">
            <div class="ultimate__heading animate-item">
              <img src="/assets/images/m3i-experience/desktop/ultimate/heading-ultimate.svg" alt="We Built The Ultimate Indoor Bike">
            </div>
            <div class="text-container__content">
              <p class="animate-item"><strong>More than 20 years ago, Keiser set out to create a bike that would exceed the demands of indoor group cycling.</strong></p>

              <ul class="animate-item">
                <li>A bike that fits riders of all body shapes and sizes</li>
                <li>A bike that achieves a quiet – but true – road-bike experience inside your gym or home</li>
                <li>The ONLY bike built in the U.S. to ensure the tightest quality control</li>
                <li>And the ONLY bike built entirely around YOU the rider, YOU the gym owner and YOU the service technician</li>
              </ul>

              <p class="animate-item"><strong>&hellip;and we accomplished it all with the simplest of engineering design. Here’s how.</strong></p>

              <div class="scroll-to-continue animate-item">
                <div class="scroll-to-continue--mouse"></div>
                <div class="scroll-to-continue--text">Scroll for Enhanced Experience</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section section--elements js--show-secondary-nav">
          <div class="video-container">
            <video
              width="100%"
              height="100%"
              id="video-player-forward"
              preload
              class="active">
                <source type="video/mp4" data-src="{{ getenv('S3_BASE_URL') }}/media/m3i-experience.mp4">
                {#<source type="video/webm" data-src="{{ getenv('S3_BASE_URL') }}/media/m3i-experience.webm">#}
            </video>
          </div>

          <div class="slide-container"></div>

          <div class="text-container">
            <div class="slide slide-1">
              <div class="text-overlay__content">
                <img data-src="/assets/images/m3i-experience/mobile/headings/heading-v-shape-frame.svg" class="heading animate-item" />

                <p class="animate-item">Many indoor group cycling bike manufacturers claim a road-bike experience, but don’t get what’s important about road bikes: Frames that vary to accommodate riders of different sizes. We do.</p>

                <div class="scroll-to-continue animate-item">
                  <div class="scroll-to-continue--mouse"></div>
                  <div class="scroll-to-continue--text">Scroll to continue</div>
                </div>
              </div>
            </div>

            <div class="slide slide-2">
              <div class="text-overlay__content">
                <div class="text-heading animate-item"><span>FIRST</span> TO ENGINEER A V-SHAPE FRAME</div>
                <p class="animate-item">Our groundbreaking design mimics different bike frames by enabling the M3i seat and handlebars to be raised in conjunction with one another, fitting longer legs, torsos and arms.</p>
              </div>
            </div>

            <div class="slide slide-3">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">BUILT FOR RIDERS BIG &amp; SMALL</div>
                <p class="animate-item">The M3i matches riders from 4’10” to 7’ tall (1,1473 mm to 2,233 mm) with a weight capacity of 350 pounds (159 kg), making it ideal for diverse group cycling classes.</p>
              </div>
            </div>

            <div class="slide slide-4">
              <div class="text-overlay__content">
                <img data-src="/assets/images/m3i-experience/headings/rear-wheel-design.svg" class="heading animate-item" />

                <p class="animate-item">Other indoor bikes mistakenly place the rider’s sweat zone directly over the flywheel and other vulnerable mechanisms – an obvious engineering flaw.</p>
              </div>
            </div>

            <div class="slide slide-5">
              <div class="text-overlay__content">
                <div class="text-heading animate-item"><span>FIRST</span> TO PUT THE FLYWHEEL AT THE REAR OF A BIKE</div>
                <p class="animate-item">The M3i is more reliable, easier to clean and better protected from sweat and corrosion.</p>
              </div>
            </div>

            <div class="slide slide-6">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">ANGLED CHANNEL FLOWS SWEAT AWAY FROM DRIVE-TRAIN</div>
                <p class="animate-item">Superior sweat protection helps gym owners save money through lower maintenance costs and a longer bike life.</p>
              </div>
            </div>

            <div class="slide slide-7">
              <div class="text-overlay__content">
                <div class="tuv-logo animate-item">
                  <img data-src="/assets/images/m3i-experience/desktop/slides/TUV-Logo.png" />
                  <div class="tuv-logo--heading">EN957-10 CERTIFICATION</div>
                </div>

                <img data-src="/assets/images/m3i-experience/headings/guaranteed-accuracy.svg" class="heading animate-item" />

                <p class="animate-item">It’s easy to “claim” accuracy. Keiser guarantees it. As the FIRST to use magnetic resistance, we revolutionized indoor cycling by delivering a quiet, reliable ride with immediate accurate data for EVERY M3i bike.</p>
                {# <p class="animate-item">And unlike most competitors’ bikes, the M3i has been certified for accuracy by TÜV.</p> #}
              </div>
            </div>

            <div class="slide slide-8">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">RELENTLESS QUALITY CONTROL</div>
                <p class="animate-item">EVERY COMPONENT of our axle assembly – the core piece responsible for predicting and delivering accurate ride data EVERY TIME – is inspected to meet precise tolerances. And EVERY DAY an M3i production bike is randomly dyno-tested to ensure quality and accuracy.</p>
              </div>
            </div>

            <div class="slide slide-9">
              <div class="text-overlay__content">
                <div class="tuv-logo animate-item">
                  <img data-src="/assets/images/m3i-experience/desktop/slides/TUV-Logo.png" />
                  <div class="tuv-logo--heading">EN957-10 CERTIFICATION</div>
                </div>

                <div class="text-heading animate-item">TRUE POWER READINGS</div>
                <p class="animate-item">The M3i is the <strong><span>FIRST</span></strong> indoor bike to receive the globally recognized TÜV EN957-10 certification for accuracy and safety. Most competitors’ bikes are not certified by TÜV.</p>
              </div>
            </div>

            <div class="slide slide-10">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">IMMEDIATE RIDE DATA</div>
                <p class="animate-item">The M3i is the <strong><span>FIRST</span></strong> indoor bike designed to predict the power generated at any speed in any gear – ensuring that accurate ride data is always delivered immediately.</p>
              </div>
            </div>

            <div class="slide slide-11">
              <div class="text-overlay__content">
                <img data-src="/assets/images/m3i-experience/headings/the-first-drive-train.svg" class="heading animate-item" />

                <p class="animate-item">The competition endorsed Keiser’s engineering by following our lead on using magnetic resistance – but they should have also copied our drive-train design.</p>
                <p class="animate-item">The simple M3i drive-train – with just a single Poly-V belt – produces the higher speeds necessary for a lighter-weight aluminum flywheel to provide the kinetic energy and magnetic resistance to simulate a good road-bike experience.</p>
              </div>
            </div>

            <div class="slide slide-12">
              <div class="text-overlay__content">
                <p class="animate-item">Our competitors’ outdated drive-trains must use a heavier, perimeter-weighted flywheel to accomplish the same. They actually brag about that, as well as cog-belt drives and crank-arm-to-flywheel ratios. But what they’re really telling you is&hellip;</p>

                <div class="text-heading animate-item">THEY DESIGNED THEIR BIKE <span>WRONG.</span></div>
              </div>
            </div>

            <div class="slide slide-13">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">A QUIET AND SMOOTH RIDE</div>
                <p class="animate-item">Our Poly-V belt design transmits very high loads over very small pulleys, achieving a good road-bike experience without a perimeter-weighted flywheel, a more complicated drive-train and the noise and vibration of a cog belt.</p>

                <div class="text-heading animate-item">NO ADJUSTMENTS OR MAINTENANCE</div>
                <p class="animate-item">The belt’s pre-tension design requires no adjustments, and the drive-train requires no maintenance other than routine inspection.</p>
              </div>
            </div>

            <div class="slide slide-14">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">THE POLY-V BELT IS THE CHOICE OF AUTOMOTIVE MANUFACTURERS</div>
                <p class="animate-item">The M3i uses the belt that’s the preferred choice to run the accessories on the front of car engines, because it’s so quiet, durable and reliable.</p>
              </div>
            </div>

            <div class="slide slide-15">
              <div class="text-overlay__content">
                <img data-src="/assets/images/m3i-experience/headings/crank-arms.svg" class="heading animate-item" />

                <p class="animate-item">Many manufacturers talk about the distance between their indoor bike’s pedals, and boast about the narrow Q Factor. But their bikes were built around the narrow shoes and pelvises of elite cyclists, even though footwear and people of all sizes can be found in group cycling classes.</p>

                <div class="text-heading animate-item">WHY WOULDN’T YOU DESIGN A BIKE TO FIT <span>EVERYONE?</span></div>
              </div>
            </div>

            <div class="slide slide-16">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">CURVED CRANK ARMS <span>TO FIT WIDER HIPS AND BULKY SHOES</span></div>

                <p class="animate-item">Instead of using straight crank arms to achieve a narrow Q Factor, Keiser recognized the need for versatility.</p>

                <p class="animate-item">We added curvature to the M3i crank arms to maintain the proper distance for wider hips and any type of footwear, from narrow bike shoes to bulkier gym shoes.</p>
              </div>
            </div>

            <div class="slide slide-17">
              <div class="text-overlay__content">
                <img data-src="/assets/images/m3i-experience/headings/keiser-m-series-pedal.svg" class="heading animate-item" />

                <p class="animate-item">Engineered beyond consumer standards for group classes, it’s more than a pedal – it’s a game changer, providing superior comfort, safety and durability.</p>
              </div>
            </div>

            <div class="slide slide-18">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">DESIGNED FOR SPD RIDERS</div>

                <p class="animate-item">Our M Series pedal ensures that the toe cage remains parallel to the ground and clear of the floor surface.</p>
              </div>
            </div>

            <div class="slide slide-19">
              <div class="text-overlay__content">
                <img data-src="/assets/images/m3i-experience/headings/keisers-digital-system.svg" class="heading animate-item" />

                <p class="animate-item">To meet the needs of riders, gym owners and maintenance technicians, we thought of everything when designing the Keiser digital system.</p>
              </div>
            </div>

            <div class="slide slide-20">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">FIRST COMPUTER TO SHOW POWER OUTPUT</div>
                <p class="animate-item">The M3i digital display is simple, with everything a rider needs to know on a single screen.</p>

                <div class="text-heading animate-item">BACK-LIT DISPLAY</div>
                <p class="animate-item">Automatically turns on when the room light drops below a set level and remains on, unlike other bikes.</p>

                <div class="text-heading animate-item">NO BUTTONS</div>
                <p class="animate-item">Eliminating inconvenience and a cause of wear and maintenance.</p>
              </div>
            </div>

            <div class="slide slide-21">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">TRACK EVERY RIDE</div>
                <p class="animate-item">The <strong><span>FIRST</span></strong> bike to offer Bluetooth® with open API, the M3i communicates with class projection systems while simultaneously syncing data to cycling apps.</p>

                <div class="text-heading animate-item">RECORD EVERY DETAIL</div>
                <p class="animate-item">Our M Series App easily logs every detail of your ride so you can see your progress.</p>

                <div class="text-heading animate-item">MANAGE EVERY CLASS</div>
                <p class="animate-item">Our M Series Instructor App shows live data from multiple bikes allowing instructors to make real-time class adjustments.</p>
              </div>
            </div>

            <div class="slide slide-22">
              <div class="text-overlay__content">
                <div class="text-heading animate-item">ENHANCE YOUR INDOOR CYCLING INSTRUCTION WITH FTP TESTING, DYNAMIC TRAINING & MORE</div>
                <p class="animate-item">
                  With the Keiser M Series Group app featuring Functional Threshold Power (FTP) Training, indoor cycling instructors can enhance their teaching capabilities to easily transform classes into fun and fiery competitions that inspire riders and keep them coming back for more.
                </p>
                <div class="text-heading animate-item">TAP INTO A WIDE VARIETY OF TRAINING OPTIONS</div>
                <p class="animate-item">Use Distance, Energy and Cadence for performance monitoring, and the app doesn’t lock you into any one type of class. Other group class apps simply don’t offer such a wide variety of training options.</p>

                <div class="text-heading animate-item">FEATURES OFFERED BY THE APP INCLUDE:</div>
                <p class="animate-item">
                  <ul>
                    <li>Unranked Rides</li>
                    <li>FTP Testing</li>
                    <li>Intervals (Timed Sets)</li>
                    <li>Team Challenges</li>
                    <li>Class Summaries</li>
                  </ul>
                </p>
              </div>
            </div>

            <div class="slide slide-23">
              <div class="hotspots-map-wrapper">
                <div class="hotspots-map">
                  <div class="sprite-canvas" data-src="/assets/images/m3i-experience/desktop/hotspots-sprite.jpg" data-frame-rate="350" data-height="968"></div>
                  <div class="details-slide">
                    <img data-src="/assets/images/m3i-experience/desktop/hotspots.jpg" alt="M3i with clickable hotspots" usemap="#Map" class="details-image">
                  </div>
                </div>
              </div>
              {% include 'm3i-experience/_image-map' %}

              <div class="text-overlay__content">
                <img data-src="/assets/images/m3i-experience/headings/greater-comfort.svg" class="heading" />
                <p>The M3i features a wide array of details, benefits and features, offering additional fit and comfort, enhanced durability and simplified upkeep.</p>

                <div class="details-click">
                  <div class="details-click--icon"></div>
                  <div class="details-click--text">Click to discover the details</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section section--details">
          <div class="details-container">

            <div class="details details-2" data-nav="details-2" data-track="The Details - Simple Maintenance" data-percent="69" data-slug="the-details/simple-maintenance">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_Simplified_Maintenance.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">SIMPLIFIED MAINTENANCE</div>
                <p class="animate-item">M3i drive-train can be accessed by removing just eight Phillips head screws vs. over three times more on some competitors’ bikes.</p>
              </div>
            </div>

            <div class="details details-3" data-nav="details-3" data-track="The Details - Media Tray" data-percent="72" data-slug="the-details/media-tray">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_Media_Tray.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">STANDARD MEDIA TRAY</div>
                <p class="animate-item">For holding cell phones and tablets.</p>
              </div>
            </div>

            <div class="details details-4" data-nav="details-4" data-track="The Details - Shifter" data-percent="75" data-slug="the-details/shifter">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_Shifter.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">EASY ACCESS TO SHIFTER</div>
                <p class="animate-item">Mounted directly to handlebars for ease of use and increased safety, especially when riding out of the saddle. Interval training is activated by simply pushing the shifter all the way down and back up, making it ideal for HIIT workouts.</p>
              </div>
            </div>

            <div class="details details-5" data-nav="details-5" data-track="The Details - Water Bottle Holder" data-percent="81" data-slug="the-details/
            water-bottle-holder">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_Water_Bottle_Holder.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">WATER BOTTLE HOLDER</div>
                <p class="animate-item">Incorporated into frame design and fits both small and large sizes.</p>
              </div>
            </div>

            <div class="details details-6" data-nav="details-6" data-track="The Details - Handlebars" data-percent="84" data-slug="the-details/handlebars">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_Handlebars.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">WIDE ARRAY OF HAND POSITIONS</div>
                <p class="animate-item">Continuous design of handlebars provides multiple hand positions for indoor cycling.</p>
              </div>
            </div>

            <div class="details details-7" data-nav="details-7" data-track="The Details - Easy Adjustments" data-percent="87" data-slug="the-details/easy-adjustments">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_EasyAdjustment.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">EASY-TO-ADJUST SEAT AND HANDLEBARS</div>
                <p class="animate-item">Quick, intuitive vertical and horizontal adjustments of seat and handlebars, as well as robust knobs requiring less maintenance than a traditional cam-lock.</p>
              </div>
            </div>

            <div class="details details-8" data-nav="details-8" data-track="The Details - Stretch Pad" data-percent="90" data-slug="the-details/stretch-pad">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_Stratch_Pad.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">STRETCH PAD</div>
                <p class="animate-item">Located on bike base to facilitate pre- and post-ride stretching.</p>
              </div>
            </div>

            <div class="details details-9" data-nav="details-9" data-track="The Details - Leveler" data-percent="78" data-slug="the-details/easy-leveler">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_Leveler.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">LEVELER</div>
                <p class="animate-item">The leveler foot can be adjusted by slightly lifting the appropriate corner of the bike and screwing the foot clockwise or counter-clockwise.</p>
              </div>
            </div>

            <div class="details details-10" data-nav="details-10" data-track="The Details - Easy Transport" data-percent="81" data-slug="the-details/easy-transport">
              <div class="details-slide">
                <img data-src="/assets/images/m3i-experience/desktop/details/Details_EasyTransport.jpg" class="details-image" usemap="#Map" />
                {% include 'm3i-experience/_image-map' %}
              </div>
              <div class="text-overlay__content">
                <div class="text-heading animate-item">EASY TO TRANSPORT</div>
                <p class="animate-item">Fewer parts and a lighter flywheel for ease of transport.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section section--page section--reviews" data-track="Reviews" data-percent="93" data-slug="reviews">
          <div class="text-container">
            <div class="reviews__heading">
              <img data-src="/assets/images/m3i-experience/mobile/headings/heading-ultimate-machine.svg" alt="The Ultimate Machine for Indoor Group Cycling">
            </div>
            <div class="text-container__content">
              <p><strong>With more than a quarter million of our M Series sold worldwide and countless reviews placing in at the top of the industry, it’s easy to see why there is no indoor group cycling bike on the planet more proven than the M3i.</strong></p>

              <div class="quotes">
                <ul>
                  <li>
                    <div class="amazon-rating"></div>
                    <cite>Amazon.com (135+ reviews)</cite>
                  </li>

                  <li>
                    <blockquote>The Ferrari of spin cycles.</blockquote>
                    <cite>GarageGymBuilder.com</cite>
                  </li>

                  <li>
                    <blockquote>A beast when it comes to spin bikes.</blockquote>
                    <cite>BodyGearGuide.com</cite>
                  </li>

                  <li>
                    <blockquote>The design and appeal of the Keiser<br/>M3i is worth the cost.</blockquote>
                    <cite>Top Fitness Magazine</cite>
                  </li>
                </ul>
              </div>
            </div>
            <div class="button-group web-only">
              <button class="m3i-button commercialSalesModal" v-on:click="[openModal('contactUs__commercialSales', 'M3i INDOOR BIKE'),trackFormAnchor('Contact Us (Sales)', 'm3iPage')]">Get a Commercial Quote</button>
              <a href="{{ url('shop/cardio-equipment/m3i-indoor-bike') }}" target="_blank" class="m3i-button button">Shop for Home</a>
              <a href="https://www.keiser.com/shop/cardio-equipment/m3i-indoor-bike/reviews" target="_blank" class="m3i-button button">See more reviews</a>
            </div>
          </div>
        </div>

        <div class="section section--page section--smartdisplay" data-track="Smart Display Enabled" data-percent="100" data-slug="smart-display-enabled">
          <div class="container">
            <div class="row">
              <div class="l--medium--4 columns">
                <div class="title small text--white">COMPATIBLE</div>
                <div class="title small text--white">WITH VIRTUALLY</div>
                <div class="title small text--red">ANY TRAINING APP OR VIDEO</div>
                <div class="heading text--white">COMPETE AGAINST YOURSELF OR OTHERS</div>
                <div class="heading text--red">AT HOME OR AT THE CLUB/GYM</div>
                <p class="margin--top--narrow text--white">Optimize your ride at home or health club. You choose an app. Keiser gets you connected. Enhance your workouts with endless app possibilities for the ultimate cycling experience.</p>
                <img class="responsive" src="/assets/images/m3i-experience/desktop/technology/smart-technology-left-logos.png">
                <img class="responsive" src="/assets/images/m3i-experience/desktop/technology/smart-technology-ipad.png">
              </div>

              <div class="l--medium--8 columns screen">
                <img class="responsive" src="/assets/images/m3i-experience/desktop/technology/smart-technology-screens.png">
                <div class="title large text--white">COMPATIBLE WITH ALL</div>
                <div class="title large text--red">MAJOR PROJECTION SYSTEMS</div>
                <p class="margin--top--narrow text--white">As the industry’s FIRST company-designed projection system, Keiser eliminates any need for gym owners to work with separate bike and projection suppliers. But in true Keiser fashion, the M3i receiver is also compatible with all major projection system providers, giving gym owners a wide array of options.</p>
                <img class="responsive width-39" src="/assets/images/m3i-experience/desktop/technology/smart-technology-right-logos.png">
                <img class="responsive width-60" src="/assets/images/m3i-experience/desktop/technology/smart-technology-bikes-broadcasting.png">
              </div>
            </div>
          </div>
        </div>

        <div class="section section--page section--education" data-track="Keiser Education" data-percent="107" data-slug="keiser-education">
          <div class="container">
            <div class="row">
              <div class="l--medium--8 l--large--5 l--extraLarge--7 columns">
                <div class="education__heading">
                  <img data-src="/assets/images/m3i-experience/desktop/education/heading-take-classes.svg" alt="Take classes to the next level" />
                </div>

                <p><strong>In person – and online – Keiser’s world-renowned Master Trainers offer the lessons, skills and tools so instructors can train clients the right way and keep them coming back for more.</strong></p>

                <div class="heading">BECOME A CERTIFIED KEISER INSTRUCTOR</div>
                <p>Foundations in an on-site, eight-hour course during which a Keiser Master Trainer teaches and applies all of the required information attendees need to become a Keiser indoor group cycling class instructor.</p>

                <div class="heading">DOWNLOAD THE M SERIES INSTRUCTOR APP</div>
                <p>View live data from multiple bikes on one device and make class adjustments in real time with the free M Series Instructor App for Apple® or Android™ devices.</p>

                <div class="education__app-wrapper">
                  <img data-src="/assets/images/m3i-experience/desktop/education/Keiser_App_Icon.png" class="app-icon" alt="Keiser app icon" />

                  <a href="#" title="Get it on Google Play" class="google-play">
                    <img data-src="/assets/images/m3i-experience/desktop/education/google-play-badge.png" alt="Get It on Google Play badge" />
                  </a>

                  <a href="#" title="Download on the App Store" class="apple-app-store">
                    <img data-src="/assets/images/m3i-experience/desktop/education/App_Store_Badge.png" alt="Download on the App Store" />
                  </a>

                </div>

                <p class="button-wrapper web-only"><a href="#" class="m3i-button">LEARN MORE about Keiser PowerED</a></p>

                <div class="education__powered-logo">
                  <img data-src="/assets/images/m3i-experience/desktop/education/Keiser_PowerED.svg" v="Keiser PowerED logo" />
                </div>
              </div>

              <div class="l--large--1 columns"></div>
              <div class="l--medium--4 l--large--5 l--extraLarge--4 columns">
                <img data-src="/assets/images/m3i-experience/desktop/education/education-hero.png" class="education__hero" alt="Instructor application and app screenshots" />
              </div>
            </div>
          </div>
        </div>

        <div class="section section--page section--videos web-only" data-track="Videos" data-percent="114" data-slug="videos">
          {% include 'm3i-experience/_videos' with {
            prefix: 'desktop'
          } %}
        </div>

        <div class="social--overlay web-only">
          <button class="social--overlay-close">Close</button>
          <div class="social--overlay__content">
            <div class="social--overlay__group" data-type="share">
              <div class="social--overlay__group-heading">Share</div>
              <div class="social--overlay__group-services">
                <a class="social-service" href="http://twitter.com/share?text={{ seoTitle }}&url={{ url(craft.request.path) }}" target="_blank">
                  <div class="social-service--icon twitter"></div>
                  <div class="social-service--title">Twitter</div>
                </a>

                <a class="social-service" href="http://www.facebook.com/sharer.php?u={{ url(craft.request.path) }}" target="_blank">
                  <div class="social-service--icon facebook"></div>
                  <div class="social-service--title">Facebook</div>
                </a>

                <a class="social-service" href="https://plus.google.com/share?url={{ url(craft.request.path) }}" target="_blank">
                  <div class="social-service--icon google-plus"></div>
                  <div class="social-service--title">Google +</div>
                </a>

                <div class="social-service" v-on:click="openModal('sharePage', 'M3i Experience')">
                  <div class="social-service--icon email"></div>
                  <div class="social-service--title">Email</div>
                </div>

                <div class="social-service" data-share-link="{{ url(craft.request.path) }}">
                  <div class="social-service--icon link"></div>
                  <div class="social-service--title">Copy Link</div>
                </div>
              </div>
            </div>

            <div class="social--overlay__group" data-type="follow">
              <div class="social--overlay__group-heading">Follow <span>Keiser</span></div>
              <div class="social--overlay__group-services">
                <a class="social-service" href="https://twitter.com/KeiserFitness" target="_blank">
                  <div class="social-service--icon twitter"></div>
                  <div class="social-service--title">Twitter</div>
                </a>

                <a class="social-service" href="https://www.facebook.com/KeiserFitness/" target="_blank">
                  <div class="social-service--icon facebook"></div>
                  <div class="social-service--title">Facebook</div>
                </a>

                <a class="social-service" href="https://youtube.com/c/KeiserFitness" target="_blank">
                  <div class="social-service--icon youtube"></div>
                  <div class="social-service--title">YouTube</div>
                </a>

                <a class="social-service" href="https://plus.google.com/b/115625138589410060516/" target="_blank">
                  <div class="social-service--icon google-plus"></div>
                  <div class="social-service--title">Google +</div>
                </a>

                <a class="social-service" href="https://www.linkedin.com/company/keiser-international" target="_blank">
                  <div class="social-service--icon linkedin"></div>
                  <div class="social-service--title">LinkedIn</div>
                </a>

                <a class="social-service" href="https://www.instagram.com/keiserfitness/" target="_blank">
                  <div class="social-service--icon instagram"></div>
                  <div class="social-service--title">Instagram</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="navigation--secondary">
        <a class="nav--direction nav--direction-prev" title="Previous">Previous</a>

        <ul class="nav--pages">
        </ul>

        <a class="nav--direction nav--direction-next" title="Next">Next</a>
      </div>
