<div class="view--mobile">

        <div class="mobile--section__header">
          <div class="text--center">
            <img src="/assets/images/m3i-experience/mobile/header/background.jpg">
          </div>

          <div class="text--center">
            <div class="title-block">
              <img src="/assets/images/m3i-experience/mobile/headings/heading-m3i.svg" />
            </div>

            <div class="mobile--section__content">
              <p>
                <strong>More than 20 years ago, Keiser set out to create a bike that would exceed the demands of indoor group cycling.</strong>
              </p>

              <ul>
                <li>A bike that fits riders of all body shapes and sizes</li>
                <li>A bike that achieves a quiet – but true – road-bike experience inside your gym or home</li>
                <li>The ONLY bike built in the U.S. to ensure the tightest quality control</li>
                <li>And the ONLY bike built entirely around YOU the rider, YOU the gym owner and YOU the service technician</li>
              </ul>
              <p>&hellip;and we accomplished it all with the simplest of engineering design.</p>
            </div>

            <div class="subheading">Here’s How we did it</div>
            <img src="/assets/images/m3i-experience/mobile/header/icon--down.png" class="down-arrow">
          </div>
        </div>

        <div class="mobile--section__vshape-frame">
          <!-- section 1 -->
          <div id="v-shape-frame" data-track="V-Shape Frame" data-percent="3" data-segment="v-shape-frame">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-1.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/mobile/headings/heading-v-shape-frame.svg" />
              </div>

              <p><strong>Many indoor group cycling bike manufacturers claim a road-bike experience, but don’t get what’s important about road bikes: Frames that vary to accommodate riders of different sizes. We do.</strong></p>
            </div>
          </div>

          <!-- section 2 -->
          <div id="v-shape-frame-industry-first" data-track="V-Shape Frame - Industry First" data-percent="6" data-segment="v-shape-frame/industry-first">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-2.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">FIRST TO ENGINEER A V-SHAPE FRAME</div>

              <p>Our groundbreaking design mimics different bike frames by enabling the M3i seat and handlebars to be raised in conjunction with one another, fitting longer legs, torsos and arms.</p>
            </div>
          </div>

          <!-- section 3 -->
          <div id="v-shape-frame-matches-all-riders" data-track="V-Shape Frame - Matches All Riders" data-percent="9" data-segment="v-shape-frame/matches-all-riders">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-3.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">BUILT FOR RIDERS BIG &amp; SMALL</div>

              <p>The M3i matches riders from 4’10” to 7’ tall (1,1473 mm to 2,233 mm) with a weight capacity of 350 pounds (159 kg), making it ideal for diverse group cycling classes.</p>
            </div>
          </div>

          <!-- section 4 -->
          <div id="rear-wheel-design" data-track="Rear-wheel Design" data-percent="12" data-segment="rear-wheel-design">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-4.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/headings/rear-wheel-design.svg" />
              </div>

              <p><strong>Other indoor bikes mistakenly place the rider’s sweat zone directly over the flywheel and other vulnerable mechanisms – an obvious engineering flaw.</strong></p>
            </div>
          </div>

          <!-- section 5 -->
          <div id="rear-wheel-design-industry-first" data-track="Rear-wheel Design - Industry First" data-percent="15" data-segment="rear-wheel-design/industry-first">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-5.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment"><span>FIRST</span> TO PUT THE FLYWHEEL AT THE REAR OF A BIKE</div>

              <p>The M3i is more reliable, easier to clean and better protected from sweat and corrosion.</p>
            </div>
          </div>

          <!-- section 6 -->
          <div id="rear-wheel-design-drive-train-protection" data-track="Rear-wheel Design - Drive-Train Protection" data-percent="18" data-segment="rear-wheel-design/drive-train-protection">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-6.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">ANGLED CHANNEL FLOWS SWEAT AWAY FROM DRIVE-TRAIN</div>

              <p>Superior sweat protection helps gym owners save money through lower maintenance costs and a longer bike life.</p>
            </div>
          </div>

          <!-- section 7 -->
          <div id="magnetic-resistance" data-track="Magnetic Resistance" data-percent="21" data-segment="magnetic-resistance">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-7.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/headings/guaranteed-accuracy.svg" />
              </div>

              <p><strong>It’s easy to “claim” accuracy. Keiser guarantees it. As the <span>FIRST</span> to use magnetic resistance, we revolutionized indoor cycling by delivering a quiet, reliable ride with immediate accurate data for EVERY M3i bike.</strong></p>
            </div>
          </div>

          <!-- section 8 -->
          <div id="magnetic-resistance-quality-control" data-track="Magnetic Resistance - Quality Control" data-percent="24" data-segment="magnetic-resistance/quality-control">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-8.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">RELENTLESS QUALITY CONTROL</div>

              <p>EVERY COMPONENT of our axle assembly – the core piece responsible for predicting and delivering accurate ride data EVERY TIME – is inspected to meet precise tolerances. And EVERY DAY an M3i production bike is randomly dyno-tested to ensure quality and accuracy.</p>
            </div>
          </div>

          <!-- section 9 -->
          <div id="magnetic-resistance-true-power-readings" data-track="Magnetic Resistance - TÜV EN957-10 Certification" data-percent="27" data-segment="magnetic-resistance/true-power-readings">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-9.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">TRUE POWER READINGS</div>

              <p>The M3i is the <span>FIRST</span> indoor bike to receive the globally recognized TÜV EN957-10 Certification for accuracy and safety. Most competitors’ bikes are not certified by T&‌Uuml;V.</p>
            </div>
          </div>

          <!-- section 10 -->
          <div id="magnetic-resistance-immediate-ride-data" data-track="Magnetic Resistance - Immediate Ride Data" data-percent="30" data-segment="magnetic-resistance/immediate-ride-data">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-10.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">IMMEDIATE RIDE DATA</div>

              <p>The M3i is the <span>FIRST</span> indoor bike designed to predict the power generated at any speed in any gear – ensuring that accurate ride data is always delivered immediately.</p>
            </div>
          </div>

          <!-- section 11 -->
          <div id="drive-train" data-track="Drive-Train" data-percent="33" data-segment="drive-train">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-11.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/headings/the-first-drive-train.svg" />
              </div>

              <p><strong>The competition endorsed Keiser’s engineering by following our lead on using magnetic resistance – but they should have also copied our drive-train design.</strong></p>

              <p><strong>The simple M3i drive-train – with just a single Poly-V belt – produces the higher speeds necessary for a lighter-weight aluminum flywheel to provide the kinetic energy and magnetic resistance to simulate a good road-bike experience.</strong></p>
            </div>
          </div>

          <!-- section 12 -->
          <div id="drive-train-drive-train-design" data-track="Drive-Train - Drive-Train Design" data-percent="36" data-segment="drive-train/drive-train-design">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-12.jpg">

            <div class="mobile--section__content">
              <p>Our competitors’ outdated drive-trains must use a heavier, perimeter-weighted flywheel to accomplish the same. They actually brag about that, as well as cog-belt drives and crank-arm-to-flywheel ratios. But what they’re really telling you is&hellip;</p>
              <div class="heading-segment">THEY DESIGNED THEIR BIKE <span>WRONG</span>.</div>
            </div>
          </div>

          <!-- section 13 -->
          <div id="drive-train-maintenance-free" data-track="Drive-Train - Maintenance Free" data-percent="39" data-segment="drive-train/maintenance-free">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-13.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">A QUIET AND SMOOTH RIDE</div>

              <p>Our Poly-V belt design transmits very high loads over very small pulleys, achieving a good road-bike experience without a perimeter-weighted flywheel, a more complicated drive-train and the noise and vibration of a cog belt.</p>

              <div class="heading-segment">NO ADJUSTMENTS OR MAINTENANCE</div>
              <p>The belt’s pre-tension design requires no adjustments, and the drive-train requires no maintenance other than routine inspection.</p>
            </div>
          </div>

          <!-- section 14 -->
          <div id="drive-train-automotive-quality" data-track="Drive-Train - Automotive Quality" data-percent="42" data-segment="drive-train/automotive-quality">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-14.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">THE POLY-V BELT IS THE CHOICE OF AUTOMOTIVE MANUFACTURERS</div>

              <p>The M3i uses the belt that’s the preferred choice to run the accessories on the front of car engines, because it’s so quiet, durable and reliable.</p>
            </div>
          </div>

          <!-- section 15 -->
          <div id="q-factor" data-track="Q Factor" data-percent="45" data-segment="q-factor">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-15.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/headings/crank-arms.svg" />
              </div>

              <p><strong>Many manufacturers talk about the distance between their indoor bike’s pedals, and boast about the narrow Q Factor. But their bikes were built around the narrow shoes and pelvises of elite cyclists, even though footwear and people of all sizes can be found in group cycling classes.</strong></p>

              <div class="heading-segment">WHY WOULDN’T YOU DESIGN A BIKE TO FIT <span>EVERYONE?</span></div>
            </div>
          </div>

          <!-- section 16 -->
          <div id="q-factor-curved-crank-arms" data-track="Q Factor - Curved Crank Arms" data-percent="48" data-segment="q-factor/curved-crank-arms">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-16.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">CURVED CRANK ARMS <span>TO FIT WIDER HIPS AND BULKY SHOES</span></div>

              <p>Instead of using straight crank arms to achieve a narrow Q Factor, Keiser recognized the need for versatility.</p>
              <p>We added curvature to the M3i crank arms to maintain the proper distance for wider hips and any type of footwear, from narrow bike shoes to bulkier gym shoes.</p>
            </div>
          </div>

          <!-- section 17 -->
          <div id="the-pedals" data-track="The Pedals" data-percent="51" data-segment="the-pedals">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-17.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/headings/keiser-m-series-pedal.svg" />
              </div>

              <p><strong>Engineered beyond consumer standards for group classes, it’s more than a pedal – it’s a game changer, providing superior comfort, safety and durability.</strong></p>
            </div>
          </div>

          <!-- section 18 -->
          <div id="the-pedals-for-spd-riders" data-track="The Pedals - For SPD Riders" data-percent="54" data-segment="the-pedals/for-spd-riders">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-18.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">DESIGNED FOR SPD RIDERS</div>

              <p>Our M Series pedal ensures that the toe cage remains parallel to the ground and clear of the floor surface.</p>
            </div>
          </div>

          <!-- section 19 -->
          <div id="the-digital-system" data-track="The Digital System" data-percent="57" data-segment="the-digital-system">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-19.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/headings/keisers-digital-system.svg" />
              </div>

              <p><strong>To meet the needs of riders, gym owners and maintenance technicians, we thought of everything when designing the Keiser digital system.</strong></p>
            </div>
          </div>

          <!-- section 20 -->
          <div id="the-digital-system-computer-display" data-track="The Digital System - Computer Display" data-percent="60" data-segment="the-digital-system/computer-display">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-20.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">FIRST COMPUTER TO SHOW POWER OUTPUT</div>
              <p>The M3i digital display is simple, with everything a rider needs to know on a single screen.</p>

              <div class="heading-segment">BACK-LIT DISPLAY</div>
              <p>Automatically turns on when the room light drops below a set level and remains on, unlike other bikes.</p>

              <div class="heading-segment">NO BUTTONS</div>
              <p>Eliminating inconvenience and a cause of wear and maintenance.</p>
            </div>
          </div>

          <!-- section 21 -->
          <div id="m-series-app" data-track="The Digital System - M Series App" data-percent="63" data-segment="the-digital-system/m-series-app">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-21.jpg">

            <div class="mobile--section__content" style="margin-bottom: 15%">
              <div class="heading-segment">TRACK EVERY RIDE</div>
              <p>The <strong><span>FIRST</span></strong> bike to offer Bluetooth® with open API, the M3i communicates with class projection systems while simultaneously syncing data to cycling apps.</p>

              <div class="heading-segment">RECORD EVERY DETAIL</div>
              <p>Our M Series App easily logs every detail of your ride so you can see your progress.</p>

              <div class="heading-segment">MANAGE EVERY CLASS</div>
              <p>Our M Series Instructor App shows live data from multiple bikes allowing instructors to make real-time class adjustments.</p>

              <p><img data-src="/assets/images/m3i-experience/mobile/apps-image.jpg"></p>
            </div>
          </div>

          <!-- section 32 -->
          <div id="the-digital-system-computer-display" data-track="The Digital System - M Series Group App" data-percent="60" data-segment="the-digital-system/m-series-group-app">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-32.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">ENHANCE YOUR INDOOR CYCLING INSTRUCTION WITH FTP TESTING, DYNAMIC TRAINING & MORE</div>
              <p>With the Keiser M Series Group app featuring Functional Threshold Power (FTP) Training, indoor cycling instructors can enhance their teaching capabilities to easily transform classes into fun and fiery competitions that inspire riders and keep them coming back for more.</p>

              <div class="heading-segment">TAP INTO A WIDE VARIETY OF TRAINING OPTIONS</div>
              <p>Use Distance, Energy and Cadence for performance monitoring, and the app doesn’t lock you into any one type of class. Other group class apps simply don’t offer such a wide variety of training options.</p>

              <div class="heading-segment">FEATURES OFFERED BY THE APP INCLUDE:</div>
              <p>
                <ul>
                  <li>Unranked Rides</li>
                  <li>FTP Testing</li>
                  <li>Intervals (Timed Sets)</li>
                  <li>Team Challenges</li>
                  <li>Class Summaries</li>
                </ul>
              </p>
            </div>
          </div>

          <!-- section 22 -->
          <div id="the-details" data-track="The Details" data-percent="66" data-segment="the-details">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-22.jpg">

            <div class="mobile--section__content">
              <div class="heading-block margin--bottom">
                <img data-src="/assets/images/m3i-experience/headings/greater-comfort.svg" />
              </div>

              <p><strong>The M3i features a wide array of details, benefits and features, offering additional fit and comfort, enhanced durability and simplified upkeep.</strong></p>
            </div>
          </div>

          <!-- section 23 -->
          <div id="the-details-simple-maintenance" data-track="The Details - Simple Maintenance" data-percent="69" data-segment="the-details/simple-maintenance">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-23.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">SIMPLIFIED MAINTENANCE</div>

              <p>M3i drive-train can be accessed by removing just eight Phillips head screws vs. over three times more on some competitors’ bikes.</p>
            </div>
          </div>

          <!-- section 24 -->
          <div id="the-details-media-tray" data-track="The Details - Media Tray" data-percent="72" data-segment="the-details/media-tray">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-24.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">STANDARD MEDIA TRAY</div>

              <p>For holding cell phones and tablets.</p>
            </div>
          </div>

          <!-- section 25 -->
          <div id="the-details-shifter" data-track="The Details - Shifter" data-percent="75" data-segment="the-details/shifter">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-25.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">EASY ACCESS TO SHIFTER</div>

              <p>Mounted directly to handlebars for ease of use and increased safety, especially when riding out of the saddle. Interval training is activated by simply pushing the shifter all the way down and back up, making it ideal for HIIT workouts.</p>
            </div>
          </div>

          <!-- section 26 -->
          <div id="the-details-water-bottle-holder" data-track="The Details - Water Bottle Holder" data-percent="78" data-segment="the-details/water-bottle-holder">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-26.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">WATER BOTTLE HOLDER</div>

              <p>Incorporated into frame design and fits both small and large sizes.</p>
            </div>
          </div>

          <!-- section 27 -->
          <div id="the-details-handlebars" data-track="The Details - Handlebars" data-percent="81" data-segment="the-details/handlebars">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-27.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">WIDE ARRAY OF HAND POSITIONS</div>

              <p>Continuous design of handlebars provides multiple hand positions for indoor cycling.</p>
            </div>
          </div>

          <!-- section 28 -->
          <div id="the-details-easy-adjustments" data-track="The Details - Easy Adjustments" data-percent="84" data-segment="the-details/easy-adjustments">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-28.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">EASY-TO-ADJUST SEAT AND HANDLEBARS</div>

              <p>Quick, intuitive vertical and horizontal adjustments of seat and handlebars, as well as robust knobs requiring less maintenance than a traditional cam-lock.</p>
            </div>
          </div>

          <!-- section 29 -->
          <div id="the-details-stretch-pad" data-track="The Details - Stretch Pad" data-percent="87" data-segment="the-details/stretch-pad">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-29.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">STRETCH PAD</div>

              <p>Located on bike base to facilitate pre- and post-ride stretching.</p>
            </div>
          </div>

          <!-- section 30 -->
          <div id="the-details-leveler" data-track="The Details - Leveler" data-percent="90" data-segment="the-details/leveler">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-30.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">LEVELER</div>

              <p>The leveler foot can be adjusted by slightly lifting the appropriate corner of the bike and screwing the foot clockwise or counter-clockwise.</p>
            </div>
          </div>

          <!-- section 31 -->
          <div id="the-details-easy-transport" data-track="The Details - Easy Transport" data-percent="93" data-segment="the-details/easy-transport">
            <img data-src="/assets/images/m3i-experience/mobile/sectionimages/section-31.jpg">

            <div class="mobile--section__content">
              <div class="heading-segment">EASY TO TRANSPORT</div>

              <p>Fewer parts and a lighter flywheel for ease of transport.</p>
            </div>
          </div>

          <div class="mobile--section__separator"></div>

          <div class="mobile--section__content" id="why-the-m3i" data-track="Why the M3i" data-percent="96" data-segment="why-the-m3i">
            <div class="heading-block light margin--bottom">
              <img data-src="/assets/images/m3i-experience/mobile/headings/heading-ultimate-machine.svg" />
            </div>

            <div class="heading-block light margin--bottom">
              <p><strong>Keiser’s commitment to constant innovation continues to lead the indoor cycling industry. With more than a quarter million of our M Series sold worldwide and countless reviews placing it at the top of the industry, it’s easy to see why there is no indoor group cycling bike on the planet more proven than the M3i — and the only bike built entirely around YOU.</strong></p>
            </div>

            <div class="mobile--section__quotes">
              <ul>
                <li>
                  <div class="amazon-rating"></div>
                  <cite>Amazon.com (135+ reviews)</cite>
                </li>

                <li>
                  <blockquote>The Ferrari of spin cycles.</blockquote>
                  <cite>GarageGymBuilder.com</cite>
                </li>

                <li>
                  <blockquote>A beast when it comes to spin bikes.</blockquote>
                  <cite>BodyGearGuide.com</cite>
                </li>

                <li>
                  <blockquote>The design and appeal of the Keiser<br/>M3i is worth the cost.</blockquote>
                  <cite>Top Fitness Magazine</cite>
                </li>
              </ul>
            </div>

            <div class="vshape-frame-button-group web-only">
              <a href="#" class="button red-outline red-outline--white-text commercialSalesModal" v-on:click="[openModal('contactUs__commercialSales', 'M3i INDOOR BIKE'),trackFormAnchor('Contact Us (Sales)', 'm3iPage')]">Get a Commercial Quote</a>
              <a href="{{ url('shop/cardio-equipment/m3i-indoor-bike') }}" target="_blank" class="button red-outline red-outline--white-text">Shop for Home</a>
              <a href="https://www.keiser.com/shop/cardio-equipment/m3i-indoor-bike/reviews" target="_blank" class="button red-outline red-outline--white-text">See more reviews</a>
            </div>
          </div>

          <img data-src="/assets/images/m3i-experience/mobile/vshape-footer.png" class="sticky-bottom">
        </div>

        <div class="mobile--section__smartdisplay" id="technology">
          <div class="mobile--section__content">
            <div class="padding--top">
              <span class="title text--white">COMPATIBLE WITH VIRTUALLY</span>
              <span class="title text--red">ANY TRAINING APP OR VIDEO</span>
            </div>
            <div class="margin--top--narrow">
              <span class="heading text--white">COMPETE AGAINST YOURSELF OR OTHERS</span>
              <span class="heading text--red">AT HOME OR AT THE CLUB/GYM</span>
            </div>
            <p class="margin--top--narrow text--white">Optimize your ride at home or health club. You choose an app. Keiser gets you connected. Enhance your workouts with endless app possibilities for the ultimate cycling experience.</p>
          </div>

          <div class="mobile--section__content text--center">
            <img class="responsive" src="/assets/images/m3i-experience/desktop/technology/smart-technology-left-logos.png">
          </div>

          <div class="mobile--section__content margin--top">
            <div class="padding--top">
              <span class="title large text--white">COMPATIBLE WITH ALL</span>
              <span class="title large text--red">MAJOR PROJECTION SYSTEMS</span>
              <p class="margin--top--narrow text--white">As the industry’s FIRST company-designed projection system, Keiser eliminates any need for gym owners to work with separate bike and projection suppliers. But in true Keiser fashion, the M3i receiver is also compatible with all major projection system providers, giving gym owners a wide array of options.</p>
            </div>
          </div>

          <div class="mobile--section__content text--alignCenter">
            <img class="responsive" src="/assets/images/m3i-experience/desktop/technology/smart-technology-screens.png">
            <img class="margin--top padding--bottom responsive mobile--section__smartdisplay__compatibleLogos" src="/assets/images/m3i-experience/desktop/technology/smart-technology-right-logos.png">
          </div>
        </div>

        <div class="mobile--section__education" id="keiser-education">
          <div class="mobile--section__content dark">
            <div class="heading-block margin--bottom dark">
              <img src="/assets/images/m3i-experience/mobile/headings/heading-take-classes.svg" />
            </div>

            <p><strong>In person – and online – Keiser’s world-renowned Master Trainers offer the lessons, skills and tools so instructors can train clients the right way and keep them coming back for more.</strong></p>
          </div>

          <div class="text--center">
            <img src="/assets/images/m3i-experience/mobile/education.png" class="hero">
          </div>

          <div class="mobile--section__content dark">
            <div class="heading-segment">Become a certified Keiser instructor</div>
            <p><strong>Foundations</strong> in an on-site, eight-hour course during which a Keiser Master Trainer teaches and applies all of the required information attendees need to become a Keiser indoor group cycling class instructor.</p>

            <div class="heading-segment">Download the M series instructor app</div>
            <p><strong>View live data from multiple bikes on one device and make class adjustments in real time with the free M Series Instructor App for Apple® or Android™ devices.</strong></p>

            <div class="education--mobile-buttons-wrapper">
              <img src="/assets/images/m3i-experience/mobile/keiser-mobile-app-icon.png" class="app-logo">
              <img src="/assets/images/m3i-experience/mobile/google-play-badge.png" class="google-play">
              <img src="/assets/images/m3i-experience/mobile/Download_on_the_App_Store_Badge_US-UK_135x40.png" class="apple-app-store">
            </div>

            <div class="text--center education--button-wrapper web-only">
              <a href="/" class="button red-outline">Learn more at Keiser.com</a>
            </div>
          </div>
        </div>

        <div class="mobile--section__videos" id="videos">
          {% include 'm3i-experience/_videos' with {
            prefix: 'mobile'
          } %}
        </div>

        <div class="mobile--section__footer">
          <div class="social-wrapper web-only">
            <ul class="share hidden">
              <li class="twitter"><a href="http://twitter.com/share?text={{ seoTitle }}&url={{ url(craft.request.path) }}" target="_blank">Twitter</a></li>
              <li class="facebook"><a href="http://www.facebook.com/sharer.php?u={{ url(craft.request.path) }}" target="_blank">Facebook</a></li>
              <li class="google-plus"><a href="https://plus.google.com/share?url={{ url(craft.request.path) }}" target="_blank">Google Plus</a></li>
              <li class="email"><a href="#" v-on:click="openModal('sharePage', 'M3i Experience')">Email</a></li>
              <li class="link"><a href="#" data-share-link="{{ url(craft.request.path) }}">Link</a></li>
            </ul>

            <ul class="follow hidden">
              <li class="twitter"><a href="https://twitter.com/KeiserFitness" target="_blank">Twitter</a></li>
              <li class="facebook"><a href="https://www.facebook.com/KeiserFitness/" target="_blank">Facebook</a></li>
              <li class="youtube"><a href="https://youtube.com/c/KeiserFitness" target="_blank">YouTube</a></li>
              <li class="google-plus"><a href="https://plus.google.com/b/115625138589410060516/" target="_blank">Google Plus</a></li>
              <li class="linked-in"><a href="https://www.linkedin.com/company/keiser-international" target="_blank">LinkedIn</a></li>
              <li class="instagram"><a href="https://www.instagram.com/keiserfitness/" target="_blank">Instagram</a></li>
            </ul>
          </div>
          <div class="social--buttons web-only">
            <button class="social--button" data-toggle="share">Share</button>
            <button class="social--button" data-toggle="follow">Follow</button>
          </div>

          <div class="contact text--center">
            <p><a href="tel:1-559-256-8000" class="tel">Call today: +1 559.256.8000</a></p>
            <p class="web-only">Go back to <a href="/">Keiser.com</a></p>
          </div>

          <div class="mobile--section__content dark">
            <img src="/assets/images/m3i-experience/mobile/logo-tagline.png">
            <p class="margin--bottom-none">Keiser Corporation | 2470 S. Cherry Ave | Fresno CA 93706<br/>
            &copy; 2019 Keiser. All Rights Reserved | <a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a></p>
          </div>
        </div>
      </div>
