<div class="videos__heading"><span>Keiser</span> Videos</div>
<div class="container">
  <div class="row">
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-1')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/keiser-m3i-indoor-bike.png">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-1">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/TCxRK4PsW_U?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | Keiser M3i Indoor Bike"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-2')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/keiser-m-series-bike-pedal.png">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-2">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/nLew73TpVpg?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | Keiser M Series Bike Pedal"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-3')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/keiser-vs-status-quo.png">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-3">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/NUPAJAJPRyo?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | Keiser vs Status Quo"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-4')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/good-enough-isnt.png">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-4">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/uvsPgLJX_a8?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | ‘Good Enough’ Isn’t"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-5')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/the-man-behind-the-machines.png">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-5">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/NueJIy03QBs?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | Dennis Keiser - The Man Behind the Machines"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-6')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/keiser-mens-health.png">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-6">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/OBD1PMrRfBw?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | Men’s Health: Keiser a must for Health Clubs"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-7')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/keiser-exos-partnership.png">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-7">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/ZvpD3YUi-dc?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | Keiser & EXOS: A Powerful Partnership"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
    <div class="l--medium--3 columns video--wrapper">
      <div class="video">
        <div class="video--image">
          <button v-on:click="openModal('{{ prefix }}-video-8')">
            <img data-src="/assets/images/m3i-experience/desktop/videos/keiser-digme-testimonial.jpg">
          </button>
        </div>
        <vue-modal :show.sync="showModal" :active-modal="activeModal" name="{{ prefix }}-video-8">
          <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/8uSl9X3eas4?rel=0&enablejsapi=1" frameborder="0" allowfullscreen data-action="Thumbnail | Keiser & Digme"></iframe>'>
          </div>
        </vue-modal>
      </div>
    </div>
  </div>
</div>
