<div class="background--darkGrey">
  <div class="container container--tight">
    <div class="row">
      <div class="l--small--12 l--medium--12 columns l--noMargin">
        <div class="titleBlock">
          <h1 class="titleBlock__subTitle">
            {{ entry.title }}
          </h1>
        </div>
        <div>
          {{ entry.body }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="background--white">
  <div class="container">

    <div class="row">
      <div class="l--medium--12 columns">
        <h2>CONTACT US BY EMAIL</h2>
        <strong>TO ASSIST YOU AS QUICKLY AS POSSIBLE, PLEASE TELL US WHAT YOU NEED.</strong>
      </div>
    </div>

    <div class="row">
      <a href="#" class="contactUs__formAnchor" v-on:click="openModal('contactUs__customerSupport')">
        <div class="l--medium--4 columns text--alignCenter">
          <img src="/assets/images/contact-us/contact-customer-support.svg" />
          <h3>CUSTOMER SUPPORT</h3>
          <p class="margin--bottom--none">I need help with a Keiser product I've purchased.</p>
        </div>
      </a>
      <a class="contactUs__formAnchor commercialSalesModal" v-on:click="openModal('contactUs__sales')">
        <div class="l--medium--4 columns text--alignCenter">
          <img src="/assets/images/contact-us/contact-sales.svg" />
          <h3>SALES</h3>
          <p class="margin--bottom--none">I'm considering a Keiser product purchase.</p>
        </div>
      </a>
      <a class="contactUs__formAnchor" v-on:click="openModal('contactUs__keiserApps')">
        <div class="l--medium--4 columns text--alignCenter">
          <img src="/assets/images/contact-us/contact-keiser-apps.svg" />
          <h3>KEISER TECH</h3>
          <p class="margin--bottom--none">I have a question or comment about Keiser apps, connectivity or capability.</p>
        </div>
      </a>
      <a class="contactUs__formAnchor" v-on:click="openModal('contactUs__educationServices')">
        <div class="l--medium--4 columns text--alignCenter">
          <img src="/assets/images/contact-us/contact-education-services.svg" />
          <h3>EDUCATION SERVICES</h3>
          <p class="margin--bottom--none">I have a question or comment about Keiser's education offerings.</p>
        </div>
      </a>
    </div>

    <div class="row background--lightGrey margin--top">
      <div class="l--medium--12 columns margin--top contactUs__otherTopic">
        <h2>NEED SOMETHING ELSE?</h2>
        <p class="margin--bottom--none"><strong>IF YOUR QUESTION OR CONCERN DOESN’T FIT ANY TOPICS ABOVE, WE CAN STILL HELP YOU.</strong></p>
        <a v-on:click="openModal('contactUs__generalMailbox')" class="button button--black">CONTACT US BY EMAIL</a>
      </div>
    </div>

  </div>
</div>

<div class="background--lightGrey">
  <div class="container container--tight">
    <div class="row contactUs__options">
      <div class="l--medium--12 columns">
        <h2>Contact a representative</h2>
        <strong>Support hours: Monday - Friday, 9am - 5pm London Time</strong>
        <p class="margin--bottom--none">Current: {{ 'now' | date('g:i a', 'Europe/London') }} London Time</p>
      </div>
      <div class="text--alignCenter contactUs__options__icon">
        <img src="/assets/images/contact-us/contact-us-via-phone.png" />
      </div>
      <div class="contactUs__options__anchor">
        <p class="margin--bottom--none">SPEAK TO A LIVE REPRESENTATIVE</p>
        <a href="tel:{{ about.phoneNumber }}"><strong>{{ about.phoneNumber }}</strong></a>
      </div>
    </div>
  </div>
</div>

<div class="background--grey">
  <div class="container container--tight">
    <div class="row contactUs__maps">
      <div class="l--medium--12 columns">
        <h2>LOCATION</h2>
        <address>
          Keiser UK Ltd.
          <br>
          Unit 3, Hampton Industrial Estate,
          <br>
          Hampton Street,
          <br>
          Tetbury, Gloucestershire, GL8 8LD
        </address>
        <iframe class="margin--top margin--bottom" frameborder="0"
                src="https://www.google.com/maps/embed/v1/place?key={{ craft.keiserContactHelpers.getEnvironmentVariable('GOOGLE_MAPS_API_KEY') }}&q=place_id:ChIJAyGVat9ycUgRnj23ptVjDnI">
        </iframe>
      </div>
    </div>
  </div>
</div>

{% include 'about/contact-us/modals/_customerSupport' %}
{% include 'about/contact-us/modals/_sales' %}
{% include 'about/contact-us/modals/_consumerSales' %}
{% include 'about/contact-us/modals/_commercialSales' %}
{% include 'about/contact-us/modals/_educationServices' %}
{% include 'about/contact-us/modals/_publicRelations' %}
{% include 'about/contact-us/modals/_keiserApps' %}
{% include 'about/contact-us/modals/_generalMailbox' %}