<div class="background--red" id="ctaBanner">
  <div class="container container--full container--noPad">
    <div class="row">
      <a href="{{ ctaBanner.linkUrl }}" target="_blank">

        <div class="l--medium--1 is--hidden is--visible--medium background--red textCenter productCtaBanner__col1">
          <div class="centerContent productCtaBanner__col1__innerContainer">
            <h3 class="text--upcase text--white text--sansSerif--black">{{ ctaBanner.sectionTitle }}</h3>
            <h2 class="text--upcase text--white text--sansSerif--black">{{ ctaBanner.sectionSubtitle }}</h2>
          </div>
        </div>

        <div class="l--medium--11 background--black padding--top--narrow textCenter is--hidden is--visible--medium productCtaBanner__col2">
          <div class="textCenter text--large text--bold productCtaBanner__col2__line1">
            <strong><span class="text--red text--large">{{ ctaBanner.redHeadline }}</span> <span class="text--white text--large">{{ ctaBanner.whiteHeadline }}</span> <span class="text--greyxLight-alt text--large">{{ ctaBanner.greyHeadline }}</span></strong>
          </div>
          <div class="textCenter text--base text--white">
            <span>{{ ctaBanner.subheading }}</span>
          </div>
        </div>

        <div class="l--small--12 background--black padding--top--narrow textCenter is--hidden--medium">
          <div class="textCenter text--large text--bold margin--bottom--thin">
            <strong><span class="text--red text--large">{{ ctaBanner.redHeadline }}</span> <span class="text--white text--large">{{ ctaBanner.whiteHeadline }}</span> <span class="text--greyxLight-alt text--large">{{ ctaBanner.greyHeadline }}</span></strong>
          </div>
          <div class="textCenter text--small padding--bottom--narrow text--white">
            <span>{{ ctaBanner.subheading }}</span>
          </div>
        </div>

      </a>
    </div>
  </div>
</div>