<div class="margin--bottom--half">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ craft.request.url }}" class="blog__social__share__button"><img src="/assets/images/blog/social_media_button_color_facebook.png"></a>
    <a target="_blank" href="https://twitter.com/intent/tweet?url={{ craft.request.url }}&text={{ entry.title }}" class="blog__social__share__button"><img src="/assets/images/blog/social_media_button_color_twitter.png"></a>
    <a target="_blank" href="https://reddit.com/submit?url={{ craft.request.url }}&title={{ entry.title }}" class="blog__social__share__button"><img src="/assets/images/blog/social_media_button_color_reddit.png"></a>
    <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ craft.request.url }}" class="blog__social__share__button"><img src="/assets/images/blog/social_media_button_color_linkedin.png"></a>
</div>