<div class="row caseStudy">
  <div class="l--medium--12 columns margin--top margin--bottom--none caseStudy__bigBanner__thumbnail" style="background-image:url('{{ caseStudy.caseStudyBigBannerImage.one.url() }}')" v-on:click="openModal('case-study-bigbanner-{{ caseStudy.slug }}')">
    <div>
      <div class="caseStudy__bigBanner__logo text--alignCenter">
        <img src="{{ caseStudy.caseStudyBigBannerLogo.one.url() }}" />
      </div>
      <div class="caseStudy__bigBanner__headline text--alignCenter">
        <h3 class="text--uppercase">{{ caseStudy.caseStudyBigBannerHeadline }}</h3>
      </div>
      <div class="caseStudy__heroThumbnail__playButtonOverlay caseStudy__bigBanner__playButtonOverlay"></div>
      <div class="caseStudy__bigBanner__subHeadline text--alignCenter">
        <h2 class="text--white">{{ caseStudy.caseStudyBigBannerSubHeadline }}</h2>
      </div>
    </div>
  </div>
</div>

<vue-modal :show.sync="showModal" :active-modal="activeModal" name="case-study-bigbanner-{{ caseStudy.slug }}">
  <div slot="header">
    <div class="container container--noPad">
      <div class="row">
        <div class="l--extraSmall--10 l--small--11 columns"></div>
        <div class="l--extraSmall--2 l--small--1 columns text--alignRight margin--bottom--half">
          <div id="modal-close-button" class="text--alignRight" v-on:click="closeModal('case-study-bigbanner-{{ caseStudy.slug }}')"><img src="/assets/images/modal-close-button.png" /> </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="body" class="videoEmbed" v-html.literal='{% include 'case-studies/_youtubeIframe' with {
    youtubeLink : caseStudy.caseStudyYoutubeLink ~ '?autoplay=true'
  }  %}'>
  </div>
  <div slot="footer"></div>
</vue-modal>
