{% extends '_layout' %}

{% block content %}
{% cache %}

  <button id="ihrsaGuarantee__thankYouButton" v-on:click="openModal('ihrsaGuarantee__thankYou')" class="is--hidden"></button>
  <vue-modal :active-modal="activeModal" name="ihrsaGuarantee__thankYou" id="ihrsaGuarantee__thankYou" v-cloak>
    <div slot="header">
      <div id="modal-close-button" class="text--alignRight" v-on:click="closeModal('ihrsaGuarantee__thankYou')"><img src="/assets/images/modal-close-button.png" /> </div>
      <h2 class="text--red margin--bottom--none">THANK YOU</h2>
    </div>
    <div slot="body">
      <h2>FOR REGISTERING YOUR INTEREST</h2>
    </div>
  </vue-modal>

  <vue-modal :active-modal="activeModal" name="ihrsaGuarantee__details" id="ihrsaGuarantee__details" v-cloak>
    <div slot="header">
      <div id="modal-close-button" class="text--alignRight" v-on:click="closeModal('ihrsaGuarantee__details')"><img src="/assets/images/modal-close-button.png" /> </div>
      <h3 class="margin--bottom--none">Keiser Equipment Offer & Closing Rate Guarantee</h3>
    </div>
    <div slot="body">
      <h3 class="text--alignCenter">Terms and Conditions</h3>
      <p>
        <strong>Eligibility: </strong>The Keiser Equipment Offer (the “Offer”) and Closing Rate Guarantee
        (the “Guarantee”) is solely open to health club owners 21 years of age or older who are legal residents of the
        48 contiguous United States and D.C. Void in Alaska, Hawaii, Puerto Rico and where prohibited, taxed or
        otherwise restricted. Offer and Guarantee will collectively be referred to as the “Program”.
      </p>
      <p>
        <strong>Provided by: </strong>Keiser Corporation, 2470 S. Cherry Ave, Fresno, CA 93706 (“Keiser”).
      </p>
      <p>
        <strong>Program Period: </strong>The Program will begin on March 22, 2018 and end on May 31, 2018
        (the “Program Period”).
      </p>
      <p>
        <strong>Offer: </strong>During the Program Period, when you purchase 12 pieces of Keiser pneumatic-resistance
        strength equipment from a selection of 15 machines (outlined in Exhibit A below) you will also receive (i) a
        free demo station that includes a pull-up banner and Keiser “Warrior” demo machine; (ii) a 6-week training
        program to share with members; (iii) 300 Welcome Packs that you can distribute to health club members that would
        like to participate in the 6-week training program. Each Welcome Packet includes a Keiser-branded T-shirt,
        workout program packet, profile card, fact sheet, and workout cards; and (iv) 1 fitness watch with an
        approximate retail value of $329 which you may use as a prize to be awarded amongst participants of the 6-week
        training program. To participate in the Offer, you must purchase 12 pieces of Keiser equipment from the provided
        package of 15 pieces from an official Keiser sales rep.
      </p>
      <p>
        <strong>Guarantee: </strong>If you purchase 12 pieces of Keiser pneumatic-resistance strength equipment from a
        selection of 15 machines (outlined in Exhibit A below) and don’t increase your health club’s new member closing
        rate after 6 months (from date of installation) and would like to return the equipment, Keiser will buy back all
        of the equipment - guaranteed. Keiser will also cover any/all disassembly costs and transportation fees.
      </p>
      <p>
        To redeem the Guarantee, current closing ratio must be revealed and agreed upon by both parties
        [Keiser sales rep and health club buyer] prior to equipment purchase. After 6-month period,
        if closing ratio stays the same or decreases [i.e. current closing ratio at time of purchase = 62.1%;
        after 6 months, closing ratio = 61%] then Keiser would buy back the equipment as long as the health club has
        adhered to all Keiser procedures related to this particular program [i.e. establishing 6-week training program
        with interested members, utilizing demo station, training health club trainers on Keiser equipment]. Guarantee
        redemption requests must be received no later than 6 months from the date of equipment installation.
      </p>
      <p>
        Limit 1 Offer redemption and/or 1 Guarantee refund request per health club throughout the Program Period.
        Please allow from 4 to 6 weeks to receive a Guarantee refund pending all equipment being returned to Keiser.
        Sales tax, shipping and installation will not be included in your refund. This Program may not be published in
        any refund magazine, online or elsewhere, without written permission from Keiser. Guarantee refunds will be
        provided in the form of a check. Employees of Keiser, and its respective subsidiaries, affiliates, distributors,
        retailers and advertising and promotion agencies and their immediate family members and those living in their
        same households, whether or not related, are not eligible to participate in this offer. The health club owner
        shall bear all risk of loss to the Keiser equipment after it has been delivered to the health club location.
      </p>
      <p>
        <strong>General Conditions: </strong>Keiser has no obligation to acknowledge refund Guarantee requests or
        provide a refund that is not in compliance with these terms. Only original owner of a health club who purchases
        the Keiser equipment may request a Guarantee refund. Certain other restrictions may apply. Program may be
        withdrawn or modified at any time without prior notice. In the event of such early termination or modification,
        a notice will be provided at keiser.com/KeiserChallenge. Keiser and its subsidiaries, affiliates, distributors,
        divisions, retailers and advertising and promotion agencies and all of their respective officers, directors,
        employees and agents (collectively, “Released Parties”) are not responsible for errors of any kind whether
        human, mechanical, typographical, printing or otherwise relating to or in connection with the offer, including,
        without limitation, errors which may occur in connection with the administration of the Program or in any other
        Program-related materials. Persons who tamper with or abuse any aspect of the Program, as solely determined by
        Keiser, may be subject to legal action. By participating, you agree to release and hold harmless the Released
        Parties against, any liability, for any injuries, losses or damages of any kind, including death, to persons, or
        property resulting in whole or in part, directly or indirectly, from participation in this Program. The Program
        is subject to all federal, state and local laws/regulations. Keiser’s decisions will be final in all matters
        relating to the Program.
      </p>
      <p class="text--alignCenter"><strong>EXHIBIT A</strong></p>
      <p class="text--alignCenter"><strong>Choose 12 Pieces from our Selection of 15 Strength Machines</strong></p>
      <p>
        <ul>
          <li>AIR 250 Leg Extension</li>
          <li>AIR 250 Lat Pull-Down</li>
          <li>AIR 250 Seated Leg Curl</li>
          <li>AIR 250 Military Press</li>
          <li>AIR 250 Abdominal</li>
          <li>AIR 250 Triceps</li>
          <li>AIR 250 Lower Back</li>
          <li>AIR 250 Arm Curl</li>
          <li>AIR 250 Standing Hip</li>
          <li>AIR 300 Seated Calf</li>
          <li>AIR 300 Squat</li>
          <li>AIR 300 Leg Press</li>
          <li>AIR 350 Seated Butterfly</li>
          <li>AIR 350 Biaxial Upper Back</li>
          <li>AIR 350 Biaxial Chest Press</li>
        </ul>
      </p>
    </div>
  </vue-modal>

  <div class="background--black ihrsaGuarantee__header">
    <div class="container">
      <div class="row">
        <div class="l--medium--6 l--small--12 columns margin--bottom--none">
          <h3 class="text--larger margin--bottom--none ihrsaGuarantee__header__smallTitle">
            STRENGTHEN YOUR CLOSING RATE WITH KEISER
          </h3>
        </div>
        <div class="l--medium--12 columns margin--bottom--none">
          <h1 class="margin--bottom--none ihrsaGuarantee__header__largeTitle">BUY KEISER.</h1>
          <h1 class="margin--bottom--none ihrsaGuarantee__header__largeTitle ihrsaGuarantee__header__largeTitle__red">INCREASE MEMBERSHIPS.</h1>
          <h1 class="margin--bottom--none ihrsaGuarantee__header__largeTitle">OR WE'LL BUY IT BACK</h1>
          <p class="text--larger ihrsaGuarantee__header__copy">
            Buy 12 pieces of Keiser pneumatic-resistance strength equipment, and if you don’t increase your health
            club’s new member closing rate after 6 months, we’ll buy it all back — guaranteed.
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="background--red pageDivider" />

  <div class="background--white ihrsaGuarantee__offerInclusions">
    <div class="container">
      <div class="row">
        <div class="l--medium--12 columns">
          <h3 class="text--black text--upcase margin--bottom--none ihrsaGuarantee__offerInclusions__largeCopy">
            With our new equipment buy-back offer you’ll also get:
          </h3>
        </div>
        <div class="l--medium--12 columns ihrsaGuarantee__offerInclusions__satisfactionGuarantee">
          <div class="text--alignCenter">
            <h2 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__largeTitle">FREE</h2>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">DEMO</h3>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">STATION</h3>
          </div>
          <div class="text--alignCenter ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer">
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer__symbol">+</h3>
          </div>
          <div class="text--alignCenter">
            <h2 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__largeTitle">6 WEEK</h2>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">TRAINING</h3>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">PROGRAM</h3>
          </div>
          <div class="text--alignCenter ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer">
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer__symbol">+</h3>
          </div>
          <div class="text--alignCenter">
            <h2 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__largeTitle">300</h2>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">WELCOME</h3>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">PACKS</h3>
          </div>
          <div class="text--alignCenter ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer">
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer__symbol">+</h3>
          </div>
          <div class="text--alignCenter">
            <div class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__rewardsProgramContainer">
              <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">REWARDS</h3>
              <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">PROGRAM</h3>
            </div>
          </div>
          <div class="text--alignCenter ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer">
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__symbolContainer__symbol">=</h3>
          </div>
          <div class="text--alignCenter">
            <h2 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__largeTitle">6 MONTHS</h2>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">SATISFACTION</h3>
            <h3 class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__smallTitle">GUARANTEE<sup>*</sup></h3>
          </div>
        </div>
        <div class="l--medium--12 columns margin--bottom--narrow">
          <h2 class="text--xLarger text--black ihrsaGuarantee__offerInclusions__satisfactionGuarantee__value">A
            <span class="text--red ihrsaGuarantee__offerInclusions__satisfactionGuarantee__value__red">$20,000</span> VALUE!
            <span class="ihrsaGuarantee__offerInclusions__satisfactionGuarantee__actFast text--red">
              But be sure to act fast.
            </span>
          </h2>
          <h3 class="ihrsaGuarantee__offerInclusions__largeCopy">THIS LIMITED-TIME OFFER EXPIRES ON MAY 31, 2018.</h3>
        </div>
        <div class="l--medium--2 columns ihrsaGuarantee__offerInclusions__cta">
          <button class="button" v-on:click="openModal('ihrsaGuarantee__details')">DETAILS</button>
        </div>
      </div>
    </div>
  </div>

  <hr class="background--red pageDivider" />

  <div class="background--darkGrey ihrsaGuarantee__demoStation">
    <div class="container">
      <div class="row">
        <div class="l--medium--6 columns">
          <h2 class="margin--top">DEMO STATION</h2>
          <p>
            To demonstrate the groundbreaking Keiser pneumatics system to current and new members, your health club will
            receive a FREE Keiser Demo Station — The “Warrior” — a modified leg extension machine that compares the
            advantages of Keiser’s pneumatic-resistance technology over traditional iron resistance.
          </p>
          <p>
            Additionally, you’ll receive the companion pull-up banner that introduces and encourages members to sign up
            for “The Keiser Challenge”.
          </p>
        </div>
        <div class="l--medium--6 columns text--alignCenter ihrsaGuarantee__demoStation__warrior">
          <img src="/assets/images/landing-pages/ihrsa-2018/warrior-leg-machine.jpg" />
        </div>
        <div class="l--medium--12 columns">
          <h2>TRAINING PROGRAM</h2>
          <p>
            The 6-week “Keiser Challenge” training program includes an introduction to Keiser machines, along with
            instructions about technique, the Keiser digital display, tracking progress, and personal training.
          </p>
          <h2>WELCOME PACK</h2>
          <p>
            300 "Keiser Challenge" Welcome Packs are provided for participants. Included are a Keiser-branded T-shirt and
            a workout program packet, featuring fact sheets and workout cards based on the 5 different training protocols
            offered by Keiser pneumatics: Traditional, Power, Eccentric, Speed and HIIT.
          </p>
          <h2>REWARDS PROGRAM</h2>
          <p>
            The Rewards Program includes one smartwatch per 300 Welcome Packs, which your health club can use as the prize
            in a sweepstakes or competition among members participating in the Keiser Challenge.
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="background--red pageDivider" />

  <div class="background--white ihrsaGuarantee__equipmentChoices">
    <div class="container">
      <div class="row">
        <div class="l--medium--12 columns">
          <h2><span class="text--red">CHOOSE 12</span> STRENGTH MACHINES FROM OUR LIST BELOW:</h2>
        </div>
        {% set products = [
          {
            'name': 'AIR250 LEG EXTENSION',
            'image': '102728-air250-legextension-001121bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 LAT PULL-DOWN ',
            'image': '102728-air250-latpulldown-002121bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 SEATED LEG CURL',
            'image': '102728-air250-seatedlegcurl-001221bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 MILITARY PRESS',
            'image': '102728-air250-militarypress-001621bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 ABDOMINAL',
            'image': '102728-air250-abdominal-002721bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 TRICEPS',
            'image': '102728-air250-triceps-001921bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 LOWER BACK',
            'image': '102728-air250-lowerback-002821bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 ARM CURL',
            'image': '102728-air250-armcurl-001721bp-ret-cmyk-small'
          },
          {
            'name': 'AIR250 STANDING HIP',
            'image': '102728-air250-standinghip-002621bp-ret-cmyk-small'
          },
          {
            'name': 'AIR300 SEATED CALF',
            'image': '102728-air300-seatedcalf-002936bp-ret-cmyk-small'
          },
          {
            'name': 'AIR300 SQUAT',
            'image': '102728-air300-squat-001533bp-ret-cmyk-small'
          },
          {
            'name': 'AIR300 LEG PRESS',
            'image': '102728-air300-legpress-002531bp-ret-cmyk-small'
          },
          {
            'name': 'AIR350 SEATED BUTTERFLY',
            'image': '102728-air350-seatedbutterfly-002235bp-ret-cmyk-small'
          },
          {
            'name': 'AIR350 BIAXIAL UPPER BACK',
            'image': '102728-air350-biaxialupperback-002035bp-ret-cmyk-small'
          },
          {
            'name': 'AIR350 BIAXIAL CHEST PRESS',
            'image': '102728-air350-biaxialchestpress-001335bp-ret-cmyk-small'
          }
        ] %}
        {% for product in products %}
          <div class="l--medium--3 l--extraSmall--6 columns text--alignCenter">
            <div class="ihrsaGuarantee__equipmentChoices__equipment" data-name="{{ product.name }}">
              <img src="/assets/images/landing-pages/ihrsa-2018/products/{{ product.image }}.png" />
              {% set productTitleParts = product.name|split(' ') %}
              <a class="button">{{ productTitleParts[0] }}<br>{{ productTitleParts|slice(1)|join(' ') }} </a>
            </div>
          </div>
          {% if loop.index % 4 == 0 %}
            <div class="is--hidden is--visible--medium ihrsaGuarantee__equipmentChoices__clearfix"></div>
          {% endif %}
          {% if loop.index % 2 == 0 %}
            <div class="is--hidden--medium ihrsaGuarantee__equipmentChoices__clearfix"></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="ihrsaGuarantee__contact">
    <div class="container container--noPadTop">
      <div class="row">
        <div class="l--medium--12 columns">
          <h2>REGISTER FOR A KEISER SALES REP TO CONTACT YOU</h2>
        </div>
        {% set form = craft.sproutForms.form('ihrsa2018promo') %}
        <form method="post" action="/forms/ihrsa2018promo" accept-charset="UTF-8" id="ihrsaGuarantee__contact__form">
          <input type="hidden" name="action" value="sprout-forms/entries/save-entry">
          <input type="hidden" name="handle" value="ihrsa2018promo">
          {{ redirectInput('/' ~ craft.app.request.segments[0] ~ '?message=thankyouforsubmitting') }}
          {{ csrfInput() }}
          <input type="hidden" name="fields[equipmentSelected]">
          <div class="l--medium--4 columns margin--bottom--none">
            {{ craft.sproutForms.displayField(form, form.getField('leadName')) }}
          </div>
          <div class="l--medium--4 columns margin--bottom--none">
            {{ craft.sproutForms.displayField(form, form.getField('email')) }}
          </div>
          <div class="ihrsaGuarantee__contact__clearfix"></div>
          <div class="l--medium--4 columns margin--bottom--none">
            {{ craft.sproutForms.displayField(form, form.getField('industry')) }}
          </div>
          <div class="l--medium--4 columns margin--bottom--none">
            {{ craft.sproutForms.displayField(form, form.getField('zipCode')) }}
          </div>
          <div class="l--medium--4 columns margin--bottom--none">
            <input type="submit" class="button button--fullWidth" value="REGISTER">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="background--darkGrey ihrsaGuarantee__statusQuo">
    <div class="container">
      <div class="row">
        <div class="l--medium--6 columns">
          <h2 class="margin--bottom--none">KEISER <span class="text--red">VS</span></h2>
          <h2 class="ihrsaGuarantee__statusQuo__title__grey">THE STATUS QUO</h2>
          <p>
            Watch our video to learn the benefits of Keiser pneumatic-resistance machines when compared to traditional
            iron resistance strength training.
          </p>
          <a href="/science" class="button">LEARN MORE</a>
        </div>
        <div class="l--medium--6 columns text--alignRight">
          <div class="imageVideo">
            <div class="imageVideo__image">
              <img src="/assets/images/landing-pages/ihrsa-2018/keiser-vs-status-quo-thumbnail.png">
            </div>
            <div class="imageVideo__buttonOverlay" v-on:click="openModal('video-keiser-vs-status-quo')"></div>
          </div>
          <vue-modal :show.sync="showModal" :active-modal="activeModal" name="video-keiser-vs-status-quo">
            <h3 slot="header">
              KEISER vs THE STATUS QUO
            </h3>
            <div class="videoEmbed" slot="body" v-html.literal='<iframe width="560" height="315" src="https://www.youtube.com/embed/NUPAJAJPRyo?rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>'>
            </div>
          </vue-modal>
        </div>
      </div>
    </div>
  </div>

{% endcache %}
{% endblock %}
