{% set entry = craft.entries.section('contactForms').slug('contact-commercial-sales-simplified').one() %}

<vue-modal :active-modal="activeModal" name="contactUs__commercialSalesSimplified" class="contactUs__modal" v-cloak>
  {% set form = craft.sproutForms.form('contactCommercialSalesSimplified') %}
  <div slot="header">
    <div class="container container--noPad contactUs__modal__headerAction">
      <div class="row">
        <a onClick="chatButton.onClick();" class="contactUs__modal__emailSupport">
          <div class="l--extraSmall--3 l--small--1 columns margin--bottom--half text--alignCenter">
            <img src="/assets/images/contact-us/contact-us-via-chat.png" />
          </div>
          <div class="l--extraSmall--7 l--small--10 columns margin--bottom--half">
            <p class="margin--bottom--none contactUs__modal__emailSupport__heading">Not Sure?</p>
            <p class="margin--bottom--none contactUs__modal__emailSupport__body">Chat with a representative.</p>
          </div>
        </a>
        <div class="l--extraSmall--2 l--small--1 columns text--alignRight margin--bottom--half">
          <div id="modal-close-button" class="text--alignRight" v-on:click="closeModal('contactUs__commercialSalesSimplified')"><img src="/assets/images/modal-close-button.png" /> </div>
        </div>
      </div>
      <div class="row">
        <div class="l--medium--12 columns margin--bottom--none">
          <h3 class="margin--top--none contactUs__modal__formName">{{ entry.title }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div slot="body">
    <form method="post" action="/forms/contactCommercialSalesSimplified" accept-charset="UTF-8" enctype="multipart/form-data" id="contactUs__commercialSales__form" v-on:submit="disableSubmit('contactUs__commercialSales__form')">
      <input type="hidden" name="action" value="sprout-forms/entries/save-entry">
      <input type="hidden" name="handle" value="contactCommercialSalesSimplified">
      {{ redirectInput('/about-us/contact-us/thank-you#commercial-sales-simplified') }}
      <input type="hidden" name="fields[countryISO]" value="">
      <input type="hidden" name="fields[country]" value="">
      <input type="hidden" name="fields[zip]" value="">
      <input type="hidden" name="fields[repEmail]" value="">
      <input type="hidden" name="fields[repVPEmail]" value="">
      <input type="hidden" name="fields[sendToSugarCRM1]" value="true">
      {{ craft.sproutForms.displayField(form, form.getField('pageTitle')) }}
      {{ craft.sproutForms.displayField(form, form.getField('campaignTracking')) }}
      {{ craft.sproutForms.displayField(form, form.getField('geoLocation')) }}
      {{ craft.blitz.csrfInput() }}
      <div class="container container--noPad" id="contactUs__modal__fieldsContainer">

        {% include 'products/modals/_visitorLocationFlow' %}

        <div class="row is--hidden modalContentPage" id="contactUs__commercialSales__contactDetails">

          <div class="l--medium--12 columns margin--bottom--half">
            <div class="contactUs__modal__fieldName">{{ entry.body }}</div>
          </div>
          {% for button in entry.linkButtons %}
            <div class="l--medium--6 columns">
              <a href="{{ button.linkURL }}" class="button {{ button.backgroundColor == 'black' ? 'button--black' : '' }}" {{ button.linkOpensIn == 'newTab' ? 'target="_blank"' : '' }}>
                {{ button.linkTitle }}
              </a>
            </div>
          {% endfor %}
          <div class="clearfix__extraSmall clearfix__small clearfix__medium clearfix__large"></div>

          <div class="l--medium--5 l--medium--offset--1 columns margin--bottom--half is--hidden--medium">
            <p class="margin--bottom--none"><strong>YOUR KEISER REPRESENTATIVE</strong></p>
            <br>
            <p class="margin--bottom--none contactUs__commercialSales__repName"></p>
            <p class="margin--bottom--none contactUs__commercialSales__repContact"></p>
            <div class="contactUs__commercialSales__repImage"></div>
            <p class="margin--bottom--none">
              <span class="contactUs__commercialSales__repFirstName"></span>
            </p>
          </div>
          <div class="l--medium--6 columns margin--bottom--half">
            {{ craft.sproutForms.displayField(form, form.getField('fullName')) }}
            {{ craft.sproutForms.displayField(form, form.getField('customerTitle')) }}
            {{ craft.sproutForms.displayField(form, form.getField('email')) }}
            {{ craft.sproutForms.displayField(form, form.getField('phoneNumber')) }}
            {{ craft.sproutForms.displayField(form, form.getField('institutionType')) }}
            {{ craft.sproutForms.displayField(form, form.getField('message')) }}
            {{ craft.sproutForms.displayField(form, form.getField('marketingOptIn')) }}
            {% hook 'sproutForms.modifyForm' %}
          </div>
          <div class="l--medium--5 l--medium--offset--1 columns margin--bottom--half is--hidden--extraSmall is--visible--medium">
            <p class="margin--bottom--none"><strong>YOUR KEISER REPRESENTATIVE</strong></p>
            <br>
            <div class="row" id="contactUs__commercialSales__repContactContainer">
              <div id="contactUs__commercialSales__repImageColumn">
                <div class="contactUs__commercialSales__repImage"></div>
              </div>
              <div id="contactUs__commercialSales__repContactColumn">
                <p class="margin--bottom--none contactUs__commercialSales__repName"></p>
                <p class="margin--bottom--none contactUs__commercialSales__repContact"></p>
              </div>
            </div>
            <p class="margin--bottom--none">
              <img src="/assets/images/contact-us/email-pointer.png" class="contactUs__commercialSales__emailPointer" />
              <span class="contactUs__commercialSales__repFirstName"></span>
            </p>
          </div>
          <div class="clearfix__medium clearfix__large"></div>
          <div class="l--extraSmall--12 columns margin--top margin--bottom--none is--hidden--small">
            <input class="button contactUs__modal__button" type="submit" value="Send" v-on:click="disableButton()">
          </div>
          <div class="l--extraSmall--12 l--small--6 columns margin--top--half is--hidden--small">
            <a class="button button--black contactUs__modal__button" v-on:click="showPage('contactUs__commercialSales__geolocationConfirmation', 'contactUs__modal__fieldsContainer')">Back</a>
          </div>
          <div class="l--medium--6 l--small--6 columns margin--top text--alignLeft is--hidden--extraSmall is--visible--small">
            <a class="button button--black" v-on:click="showPage('contactUs__commercialSales__geolocationConfirmation', 'contactUs__modal__fieldsContainer')">Back</a>
          </div>
          <div class="l--medium--6 l--small--6 columns margin--top text--alignRight is--hidden--extraSmall is--visible--small">
            <input class="button" type="submit" value="Send" v-on:click="disableButton()">
          </div>
        </div>

      </div>
    </form>
  </div>
  <div slot="footer">
  </div>
</vue-modal>
