{% cache %}
<article>

  {% include "support/_header-block.html" %}

  <div class="container">

    <div class="fullImageWithCopy">
      {% for block in entry.copyBlockWithImage %}
        {% set heroImage = block.image.one %}
        {% if heroImage %}
          <img class="fullImageWithCopy__image"
               src="{{ heroImage.getURL("large") }}"
               srcset="
                  {{ heroImage.getURL("xsmall") }} 320w,
                  {{ heroImage.getURL("small") }} 480w,
                  {{ heroImage.getURL("medium") }} 640w,
                  {{ heroImage.getURL("large") }} 960w,
                  {{ heroImage.getURL("xlarge") }} 1280w">
        {% endif %}

        <div class="titleBlock">
          <h3 class="titleBlock__title">
            {{ block.smallTitle }}
          </h3>
          <h1 class="titleBlock__subTitle">
            {{ block.largeTitle }}
          </h1>

          <div class="fullImageWithCopy__copy">
            {{ block.bodyCopy }}
          </div>
        </div>
      {% endfor %}
    </div>

    <hr class="background--lightGrey pageDivider">

    {% for block in entry.trainer %}

      <div class="imageCopyBlock">
        <div class="row">
          <div class="l--small--4 l--medium--3 columns l--mobileMargin">
            <div class="image--fullBleed">
              {% set trainerImage = block.image.one %}
              {% if trainerImage %}
                <img class="imageCopyBlock__image" src="{{ trainerImage.getURL("medium") }}">
              {% else %}
                <img class="imageCopyBlock__image" src="{{ about.imageUnavailable.one.getURL("medium") }}">
              {% endif %}
            </div>
          </div>

          <div class="l--small--8 l--medium--9 columns l--noMargin">
            <div class="imageCopyBlock__copyBlock">
              <h2 class="imageCopyBlock__header">
                {{ block.trainerName }}
              </h2>
              <h4 class="imageCopyBlock__header">
                Hometown: {{ block.hometown }}
              </h4>
              <h4 class="imageCopyBlock__header">
                {{ block.trainerTitle }}
              </h4>
              <p class="imageCopyBlock__copy">
                {{ block.trainerBio }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr class="background--lightGrey pageDivider">
    {% endfor %}

    <div class="container">

      <div class="row row--narrowSpaced">
        <div class="l--small--6 l--medium--4 columns">
          <div class="titleCard titleCard--constrain">
            <div class="titleCard__flexItems titleCard__flexItems--constrain">
              <h3 class="titleCard__title">
                CORRESPONDENCE COURSES
              </h3>
              <a href="/forms/correspondenceCoursesForm" class="button button--fullWidth">View Form</a>
            </div>
          </div>
        </div>

        <div class="l--small--6 l--medium--4 columns">
          <div class="titleCard titleCard--constrain">
            <div class="titleCard__flexItems titleCard__flexItems--constrain">
              <h3 class="titleCard__title">
                SPECIALIZED MODULE
              </h3>
              <a href="/forms/specializedModule" class="button button--fullWidth">View Form</a>
            </div>
          </div>
        </div>

        <div class="l--small--6 l--medium--4 columns">
          <div class="titleCard titleCard--constrain">
            <div class="titleCard__flexItems titleCard__flexItems--constrain">
              <h3 class="titleCard__title">
                REQUEST TRAINING – M3 SERIES
              </h3>
              <a href="/forms/requestTrainingFormM3Series" class="button button--fullWidth">View Form</a>
            </div>
          </div>
        </div>

        <div class="l--small--6 l--medium--4 columns">
          <div class="titleCard titleCard--constrain">
            <div class="titleCard__flexItems titleCard__flexItems--constrain">
              <h3 class="titleCard__title">
                NATIONAL TRAINER APPLICATION – M3 SERIES
              </h3>
              <a href="/forms/nationalTrainerApplicationM3Series" class="button button--fullWidth">View Form</a>
            </div>
          </div>
        </div>

        <div class="l--small--6 l--medium--4 columns">
          <div class="titleCard titleCard--constrain">
            <div class="titleCard__flexItems titleCard__flexItems--constrain">
              <h3 class="titleCard__title">
                M3 SERIES ONLINE EXAM
              </h3>
              <a href="/forms/m3CorrespondenceExam" class="button button--fullWidth">View Form</a>
            </div>
          </div>
        </div>

        <div class="l--small--6 l--medium--4 columns">
          <div class="titleCard titleCard--constrain">
            <div class="titleCard__flexItems titleCard__flexItems--constrain">
              <h3 class="titleCard__title">
                LEASE APPLICATION
              </h3>
              <a href="/forms/leaseApplication" class="button button--fullWidth">View Form</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</article>
{% endcache %}
