<div class="row whiteGlove__checkbox">
  <div class="l--extraSmall--2 l--medium--1 columns margin--bottom--none productReview__checkbox__input__container whiteGlove__checkbox__input__cart__container">
    <div class="productReview__checkbox__input whiteGlove__checkbox__input {{ item.options.whiteGloveDelivery is defined and item.options.whiteGloveDelivery ? 'productReview__checkbox__input__checked' }}" data-for="whiteGlove{{ item.purchasable.purchasableId }}"></div>
    <input type="checkbox" name="{{ item.id }}" class="is--hidden whiteGlove__checkbox__input__cart" id="whiteGlove{{ item.purchasable.purchasableId }}" {{ item.options.whiteGloveDelivery is defined and item.options.whiteGloveDelivery ? 'checked="checked"' : '' }}>
  </div>
  <div class="l--extraSmall--9 l--medium--11 columns margin--bottom--none productReview__checkbox__label__container">
    <label data-for="whiteGlove{{ item.purchasable.purchasableId }}" class="productReview__checkbox__label whiteGlove__checkbox__label">
      Add White Glove Assembly [{{ (item.purchasable.product.whiteGloveDeliveryFee * item.qty) | commerceCurrency(cart.currency) }}]
    </label>
    <a class="text--red text--bold text--underline whiteGlove__checkbox__helperQueue" v-on:click="openModal('whiteGloveDeliveryModal')">?</a>
    {% if not craft.keiserContactHelpers.whiteGloveDeliveryAvailableForRegion() %}
      <p class="margin--bottom--none text--red">(Continental US Only)</p>
    {% endif %}
  </div>
  <div class="l--extraSmall--1 columns margin--bottom--none is--hidden--medium">
    <a class="text--red text--bold text--underline" v-on:click="openModal('whiteGloveDeliveryModal')">?</a>
  </div>
</div>
